.kl1 {
  width: 100%;
  height: 70px;
  background-color: #023c67;
  display: flex;
  justify-content: space-between; 
  align-items: center;           
  padding: 0 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.kl1 img {
  height: 30px;
  pointer-events: none; 

 
}

.kl-menu {
  display: flex;
  list-style: none;
  gap: 25px;                  
  align-items: center;
}

.kl-menu li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.kl-menu li a:hover {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.kl4 { 
  padding: 6px 12px;
  border: none;
  background-color: #fff;
  color: #023c67;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.kl4:hover { 
  padding: 6px 12px;
  border: none;
  background-color: #fff;
  color: #023c67;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.kl2 {
  display: flex;
  align-items: center;
}

.kl3 p {
  margin: 0;
  color: white;
  font-size: 16px;
}
