.o1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


.o2 {
    width: 70%;
    background: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.o3 {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}

.o4 th {
    background-color: #023c67;
    color: white;
    text-align: left;
    padding: 14px;
    font-size: 20px;
}


.o5 td {
    padding: 14px;
    border: 1px solid #ccc;
    color: black;
    background-color: #f8f8f8;
    font-weight: 500;
}

.o3, .o3 th, .o3 td {
    border: 1px solid #023c67;
}

.o6 {
    float: right;
    padding: 10px 20px;
    background-color: #023c67; /* Green button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top:20px;
}

.o6:hover {
    background-color: #f2f3f2; /* Slightly darker on hover */
    color:#023c67;
}
