.navbar1 {
  width: 100%;
  height: 70px;
  background-color: #023c67;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

}

.navbar1 img {
  height: 45px;
  object-fit: contain;
}

.navbar3 {
  background-color: #ffffff;
  color: #023c67;
  border: 2px solid #023c67;
  padding: 10px 18px;
  margin-right: 15px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.navbar3:hover {
  background-color: #c1250f;
  color: #ffffff;
  border-color: #c1250f;
}

.navbar4 {
  background-color: #c1250f;
  color: #ffffff;
  padding: 10px 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-right:40px;
}

.navbar4:hover {
  background-color: #ffffff;
  color: #c1250f;
  border: 2px solid #c1250f;
}